@page
@model RazorWebUI.Areas.User.Pages.Admin.AllFacilitatorsModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            FACILITATORS  (@Model.Datas.Count())
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Fullname
                        </th>

                        <th>Email</th>
                        <th>Phone</th>
                        <th>Position</th>
                        <th>Category</th>
                        <th>Status</th>

                        <th>Action</th>

                    </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Datas.OrderBy(x => x.FullnameX))
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="/Admin/Info" asp-route-area="User" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.FullnameX)

                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Index" asp-route-id="@item.Id">Back Work Plan</a>
                                            <a class="dropdown-item" asp-page="./Index" asp-route-id="@item.Id">Certificate</a>

                                        </div>
                                    </div>
                                </div>


                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>