@page
@model RazorWebUI.Areas.ITrainings.Pages.TimetablePage.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">MANAGE TIMETABLE</h3>

        @if (User.IsInRole("AdminEditor") || Model.Training.TrainingStatus != Domain.Models.EnumStatus.TrainingStatus.Completed)
        {
            <a asp-page="./Add" asp-route-id="@Model.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">New Timetable</a>
        }
        </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Date
                        </th>

                        <th>Activity</th>
                        <th>Module</th>
                        <th>Facilitator</th>
                        <th>Publish</th>
                        @if (User.IsInRole("AdminEditor") || Model.Training.TrainingStatus != Domain.Models.EnumStatus.TrainingStatus.Completed)
                        {
                            <th></th>
                        }
                        </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Datas)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @item.DateTime.ToString("ddd dd/MM/yyyy (hh:mm tt)")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity)

                            </td>


                            <td>
                                @if (item.ModuleTopic != null)
                                {
                                    @Html.DisplayFor(modelItem => item.ModuleTopic.Title)
                                    @if (item.ModuleTopic.Module != null)
                                    {
                                        <span> (@Html.DisplayFor(modelItem => item.ModuleTopic.Module.Title))</span>
                                    }
                                }
                            </td>
                            <td>
                                @if (item.Facilitator != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Facilitator.FullnameX)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publish)
                            </td>
                            @if (User.IsInRole("AdminEditor") || Model.Training.TrainingStatus != Domain.Models.EnumStatus.TrainingStatus.Completed)
                            {
                                <td>
                                    <form method="post" enctype="multipart/form-data" asp-page-handler="Delete">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="Id" type="hidden" value="@item.Id" />
                                        <input asp-for="TrainingId" type="hidden" value="@item.TrainingId" />
                                        <input type="submit" value="Delete" class="btn btn-primary" />

                                    </form>
                                </td>
                            }
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
