@page
@model RazorWebUI.Areas.ITrainings.Pages.Admin.UpdateActivityModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title text-uppercase">
            UPDATE DIALY ACTIVITIES
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h5 class="text-uppercase">Training Information</h5>
        <h5 class="card-title">
            @Model.Training.Title ( @Model.Training.StartDate.ToString("ddd dd MMM, yyyy") -
            @Model.Training.EndDate.ToString("ddd dd MMM, yyyy"))
            <br /><span style="font-size:13px;">
                @Model.Training.Address
            </span>
        </h5>
    </div>
    <div class="card-body">
        <h5 class="text-uppercase">Dialy Activity Information</h5>
        <h5 class="">
            Date:  @Model.DialyActivity.Date.ToString("dddd dd/MM/yyyy") (@Model.DialyActivity.StartTime - @Model.DialyActivity.FinishTime))
            <br />Title: @Model.DialyActivity.Title
        </h5>
    </div>


    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Training Activity</h3>

                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="DialyActivity.TrainingId" value="@Model.Training.Id" />
                            <input type="hidden" asp-for="DialyActivity.Id" value="@Model.DialyActivity.Id" />


                            <div class="form-group">
                                <label asp-for="DialyActivity.Title" class="control-label"></label>
                                <input asp-for="DialyActivity.Title" class="form-control" />
                                <span asp-validation-for="DialyActivity.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DialyActivity.Description" class="control-label"></label>
                                <textarea asp-for="DialyActivity.Description" class="form-control"></textarea>
                                <span asp-validation-for="DialyActivity.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DialyActivity.Date" class="control-label"></label>
                                <input asp-for="DialyActivity.Date" class="form-control" type="date" />
                                <span asp-validation-for="DialyActivity.Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DialyActivity.StartTime" class="control-label"></label>
                                <input asp-for="DialyActivity.StartTime" class="form-control" placeholder="00:00" type="time" />
                                <span asp-validation-for="DialyActivity.StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DialyActivity.FinishTime" class="control-label"></label>
                                <input asp-for="DialyActivity.FinishTime" class="form-control" type="time" />
                                <span asp-validation-for="DialyActivity.FinishTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update Activity" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
